<h2>all my cocks and tails</h2>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<% end %>
<p><%= link_to "create new cocktail", new_cocktail_path %></p>
